/* ===== BASE STYLES ==== */

.size {
  background-color: blue;
  width: 0;
  height: 100px;
  margin: 5% 0;
  transition: all ease 1.5s;
}

.content-container {
	display: flex;
	justify-content: space-between;
	width: 80%;
	margin: 0 auto;
	margin-top: 2%;
}

.content-container section {
	flex-basis: 30%;
}

.content-container section p {
	font-size: 22px;
	line-height: 1.1;
}

.content-container section img {
	width: 100%;
}