<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel="stylesheet" href="dist/css/application.css">
  </head>
  <body>
	<header>
	<div class="hero"></div>
		<nav class="navbar navbar-toggleable-md navbar-inverse">
		  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
		    <span class="navbar-toggler-icon"></span>
		  </button>
		  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
		    <div class="navbar-nav">
		      <a class="nav-item nav-link active" href="index.html">Home <span class="sr-only">(current)</span></a>
		      <a class="nav-item nav-link" href="quiz.html">My Quiz</a>
		      <a class="nav-item nav-link" href="javascript.html">Javascript</a>
		  <a class="navbar-brand" href="#">Aimee Tacchi's Portfolio</a>
		    </div>
		  </div>
		</nav>
	</header>