@@include('_header.html')
		<div class="mx-5">
			<div id="growme" class="size"></div>
		</div>
		<h1 class="text-center mt-2">My expanding and shrinking div with JS</h1>
		<p class="text-center">I hope you like my magic buttons. All you have to do to see the magic is click the buttons below. Enjoy!</p>
		 <div class="text-center">
		 	<button type="button" id="myButton" class="btn btn-primary">Grow Div</button>
      		<button type="button" id="myButtonTwo" class="btn btn-primary">Shrink Div</button>
		 </div>
	</div>
@@include('_footer.html') 